h1 {font-family: Calibri, Arial ; font-style: bold ; text-align: center}

h4 {font-family: Calibri, Times ; font-style: normal ; text-align: center ; color: navy}

div {font-family: Calibri, Times ; font-style: normal ; text-align: justify ; color: darkslateblue}

p {text-indent:2em}

body {margin-left:35% ; margin-right:35% ; background-color : azure}

h2, h3 {font-family : Calibri, Arial ; font-style: italic ; text-align: center}
